ANSI_BG_BLUE="\e[44m"
ANSI_BG_DEFAULT="\e[49m"
ANSI_BG_GREEN="\e[42m"
ANSI_BOLD="\e[1m"
ANSI_BOLD_OFF="\e[22m"
ANSI_DEFAULT="\e[0m"
ANSI_FG_BLACK="\e[30m"
ANSI_FG_DEFAULT="\e[39m"
ANSI_FG_GREEN="\e[32m"
ANSI_FG_RED="\e[31m"
ANSI_FG_WHITE="\e[97m"
ANSI_FG_YELLOW="\e[93m"
APP_DIR_CONTAINER='/var/www/html'
APP_DIR_HOST='./docker/mount/app'
AUTHOR_EMAIL='richiruizmartinez@gmail.com'
AUTHOR_NAME='Ricardo Ruiz Martínez'
COMPOSE_OVERRIDE_DIST_FILE='./compose.override.yml.dist'
COMPOSE_OVERRIDE_FILE='./compose.override.yml'
DB_NAME_MAX_LENGTH='20'
DB_USER_NAME_MAX_LENGTH='20'
DOCKER_ENVIRONMENT_DIST_FILE='./.env.dist'
DOCKER_ENVIRONMENT_FILE='./.env'
PASSWORD_CHARSET='a-zA-Z0-9\-\_\.'
PROJECT_NAME_DEFAULT='sdb'
PROJECT_NAME_MAX_LENGTH='20'
PROJECT_TIMEZONE_DEFAULT='Europe/Paris'
PROJECT_TIMEZONE_MAX_LENGTH='100'
PROJECT_TIMEZONE_SLASH_ESCAPED=''
RANDOM_PASSWORD_LENGTH=30
APP_NAME='Symfony Docker Base'
APP_VERSION='1.2.1-2023_06_03'
TIMEZONES_FILE='./TIMEZONES'
TIMEZONES_TMP_FILE='/tmp/.dockersymfony-TIMEZONES'
UPLOADS_DIR_CONTAINER='/var/www/html/var/uploads'
UPLOADS_DIR_HOST='./docker/mount/app/var/uploads'
